@font-face {
   font-family: 'EtelkaTextPro-Bold';
   font-display: swap;
   src: url('file:///C:/Users/%D0%A2%D0%B0%D0%B9%D0%BA%D0%B0/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-02-11_174120/fonts/EtelkaTextPro-Bold/font.ttf');
}
