@font-face {
   font-family: 'Tahoma Regular font';
   font-display: swap;
   src: url('file:///C:/Users/%D0%A2%D0%B0%D0%B9%D0%BA%D0%B0/Desktop/Mobilrise/Project/fonts/Tahoma%20Regular%20font/font.ttf');
}
